services:

  zookeeper:
    container_name: zookeper 
    image: zookeeper:3.4.13
    restart: unless-stopped

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:5.3.1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,PLAINTEXT://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,PLAINTEXT://localhost:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.1
    container_name: kafka-ui
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_ZOOKEEPER=zookeeper:2181
    depends_on:
      - kafka

  ksqldb-server:
    image: confluentinc/cp-ksqldb-server:6.1.1
    environment:
      KSQL_CONFIG_DIR: "/etc/ksql"
      KSQL_BOOTSTRAP_SERVERS: "kafka:9092"
      KSQL_LISTENERS: "http://0.0.0.0:8088"
    healthcheck:
      test: curl -f http://localhost:8088/info || exit 1
      interval: 5s
      timeout: 10s
      retries: 10
    depends_on:
      - kafka

  ksqldb-cli:
     image: confluentinc/cp-ksqldb-server:6.1.1
     container_name: ksqldb-cli
     depends_on:
     - kafka
     - ksqldb-server
     entrypoint: /bin/sh
     tty: true

  server: 
    build: .
    depends_on:
      ksqldb-server:
        condition: service_healthy
    command: uv run fastapi dev backend/main.py --reload --host 0.0.0.0 --port 80
    volumes:
      - .:/app
    ports:
      - "8000:80"

  worker:
    build: .
    command: uv run backend/producer.py
    volumes:
      - .:/app
    depends_on:
      - kafka


